torch
torchmetrics
pytorch-lightning
ray[tune]
omegaconf
wandb
hydra-core
gymnasium
h5py
numpy>=1.24.0
scipy
scikit-learn
matplotlib
python-dotenv
imageio[ffmpeg]
motornet==0.2.0
ipykernel
ipywidgets
opencv-python
jax[cpu]
geotorch
dsa-metric @ git+https://github.com/mitchellostrow/DSA.git@main
#torchvision==0.14
#torchdata==0.5.1
#torchaudio==0.13.1
